html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

h2{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

h3{
    text-align: center;
}

h5{
    text-align: center;
}

p{
    padding-left: 15px;
    padding-right: 15px;
   padding-bottom: 15px;
}

.navbar-brand{
    text-align: center;
}


.display-details{
    
    border: 5px solid #cfe2ff;
    border-radius: 5px;
    margin-bottom: 25px;
}

