body{
    background-color: black
}

.responsivo{
    width: 100%;
}

.abaixo{
    margin-bottom: 2px;
}



p{
    color: #ffff;
}


h1{

    color: #4B0082;
}

h2{

    color: #4B0082;
}


h4{

    color: #4B0082;
}