

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
}

#personForm {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    margin-top: 20px;
}

h1{
    padding-top: 15px;
    font-family: 'Times New Roman';
    font-size: 24px;
    font-weight: bold;
    color: #000000; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    text-align: center;
    
}

p{
    padding-top: 10px;
    padding-bottom: 4px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin-left: 30px;
    font-size: 30px;

}
.info{
   text-align: center;
}



.display-details {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;

}
